lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.idea
test/_packages/_ajax/__build.js
test/_packages/_event/__build.js
test/_packages/_event_reverse/__build.js
